JupitaAcademy Assignment

In [ ]:
#Question 1 Data Types and Basic Arithmetic 
#a = Grade 1: 25 students
#b = Grade 2: 30 students
#c = Grade 3:  28 students 
#question a; calculating and displaying the total number of students

In [ ]:
a = 25
b = 30 
c = 28

In [ ]:
c = a + b + c

In [ ]:
print (c)

question b; calculating and displayign the average number of students per grade

In [ ]:
c = [a, b, c]

In [ ]:
average = sum(c)/len(c)

print ('average', average)

In [ ]:
#Question 2 Variable assignments and string manipulation

In [ ]:
a = "Welcome to Grade 1! We are excited to have you"
b = "Hello Grade 2 students! Get ready to learn and have fun"
c = "Welcome Grade 3 students. Let's make this a great year of learning"

In [ ]:
print (b)

### Question 3; List and Dictionaries

In [ ]:
m = [grade 1, grade 2, grade 3]

grade 1 subject = ['maths', 'english', 'science']
grade 2 subject = ['English', 'science', 'History']
grade 3 subject = ['science', 'history', 'maths']

In [ ]:
#task 3

In [ ]:
key = {'a':'Grade 1', 'b':'Grade 2, 'c': 'Grade 3'}
value = {'Grade 1': 'Mr  smith', 'Ms Johnson', 'Mr Davis'}
value1 = {'Grade 2': 'M illiam', 'Mr Davi', 'MMmm'}